
.fondo {
            
    background-color: antiquewhite; 
    background-image: url("img/imagen.mia.jpg");

    }

h1{
      text-align: center;
   }

.article{
    top: 10px;
    left: 50px;  
    width: 90%;
    height: 500px;
    border: 5px solid rgb(7, 134, 32);
    border-radius: 5px;
    background-color: aquamarine;
    text-align: justify;
    font-size: 20px;
    margin: 50px;
    padding: 5px;
}

a{
    font-size: 30px;
    border: 2px solid rgb(4, 92, 22);
    background-color: aquamarine;
}